<!DOCTYPE html>
<html>
    <head>
        <title> Final Project </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="css/styles.css" rel="stylesheet">
        <script src="js/functions.js"></script>
    </head>
    <% if (typeof logged != "undefined" && logged) { %>
        <ul>
        	<li class="nav">
        		<a class="<%= active === 'user' && 'active' %>" href="/account"> Account </a>
        	</li>
        	<li class="nav">
        		<a class="<%= active === 'cart' && 'active' %>" href="/users"> Users </a>
        	</li>
        	<li class="nav">
        		<a class="<%= active === 'student' && 'active' %>" href="/student"> Students </a>
        	</li>
        	<li class="nav">
        		<a class="<%= active === 'incidents' && 'active' %>" href="/incidents"> Incident </a>
        	</li>
        	<li class="nav">
        		<a class="<%= active === 'reports' && 'active' %>" href="/reports"> Reports </a>
        	</li>
        	<li class="nav">
        		[ <%= username %>: <a class="button" href="/logout"><u>Logout</u></a> ]
        	</li>
        	<input type="hidden" id="userid" name="userid" value="<%= userid %>">
        </ul>
    <% } else { %>
        <h3 id="logged">Not Logged In</h3>
    <% } %>
    <body>